.productsWrapper {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
  }

  .wrapper {
    display: flex;
    gap: 24px;
  }

  .categories {
    width: 20%;
  }

  
  .pageTitle {
    margin-bottom: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  