<a href="{{ announcement?.link ?? 'net name'}}" class="product">
    <div class = "imageWrapper">
        <img src="{{ announcement?.image ?? '../../../../../assets/img/shared/nophoto.jpeg'}}" alt="{{ announcement?.title ?? 'net name'}}" class="productImage"/>
    </div>
    <div class="productInfo">
        <p class="productTitle">{{ announcement?.title ?? 'Нет названия'}}</p>
        <p class="productPrice">{{ announcement?.price ?? 'Цена не указана'}} &#8381;</p>
        <p class="productLocation">{{ announcement?.location ?? 'Локация не установлена'}}</p>
        <p class="productDate">{{ announcement?.date ?? 'Дата не установлена'}}</p>
    </div>
</a>