<a href="" class="product">
    <div class = "imageWrapper">
        <img src="{{image  ??  '../../../../../../assets/img/shared/nophoto.jpeg'}}" alt="{{ announcement?.name ?? ''}}" class="productImage"/>
    </div>
    <div class="productInfo">
        <p class="productTitle">{{ announcement?.name ?? 'Нет названия'}}</p>
        <p class="productPrice">{{ announcement?.cost ?? 'Цена не указана'}} &#8381;</p>
        <p class="productLocation">{{ announcement?.location ?? 'Локация не установлена'}}</p>
        <p class="productDate">{{ announcement?.createdAt ?? 'Дата не установлена'}}</p>
    </div>
</a>