
.product {
    display: block;
    width: 306px;
  }
  .productImage {
    min-width: 100%;
    min-height: 100%;
    transition: transform 0.25s;
  }
  .productInfo {
    text-decoration: none;
    color: black;
  }
  .productTitle {
    color: #3B82F6;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .productPrice {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .productLocation, .productDate {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #64748B;
  }
  .product:hover .productImage {
    transform: scale(1.3);
  }
  
  .productsWrapper {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .imageWrapper {
    width: 100%;
    height: 240px;
    margin-bottom: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pageTitle {
    margin-bottom: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  
