

<div class="wrapper">
    <div class="leftColumn">
        <h3 class="title">Name</h3>
        <img class="preview" src="../../../../../assets/img/cards/preview.png" alt="">
        <div class="thumbs">
            <div class="thumb">
                <img class="thumbImage" src="../../../../../assets/img/cards/preview.png" alt="">
            </div>
            <div class="thumb">
                <img class="thumbImage" src="../../../../../assets/img/cards/preview.png" alt="">
            </div>
            <div class="thumb">
                <img class="thumbImage" src="../../../../../assets/img/cards/preview.png" alt="">
            </div>
        </div>
    </div>
    <div class="rightColumn">
        <div class="price">
            80 000 ₽
        </div>
        <button class="btnPhone">
            <img src="../../../../../assets/img/shared/Icon.svg" alt="">
            Показать номер телефона
        </button>
        <div class="location">
            <p class="infoTitle">
                Адрес
            </p>
            <p class="text">
                Севастополь, ул. Гоголя, 33Б
            </p>
            <button class="openMap">
                Показать на карте
                <img src="../../../../../assets/img/shared/arrow-up-right-square.svg" alt="">
            </button>

        </div>
        <div class="description">
            <p class="infoTitle">
                Описание
            </p>
            <p class="text">
                Продается MacBook Pro 13 8/256
Сам ноутбук в отличном состоянии, количество циклов перезарядки 123, в комплекте: коробка,ноутбук,блок,кабель и чек!
            </p>
        </div>
    </div>
</div>
