

    <div *ngIf="!isLoading; else loading" class="wrapper">
        <div class="leftColumn">
            <h3 class="title">{{ announcement?.name ?? 'Нет названия'}}</h3>
            <img class="preview" src="{{ preview ?? ''}}" alt="">
            <div class="thumbs" *ngFor="let item of announcement?.images ; index as i">
                <div class="thumb"  (click)="togglePreview(i)">
                    <img class="thumbImage" src="{{item}}" alt="">
                </div>
            </div>
        </div>
        <div class="rightColumn">
            <div class="price">
                {{ announcement?.cost ?? 'Нет названия'}} ₽
            </div>
            <button class="btnPhone" (click)="togglePhone()">
                <img src="../../../../../assets/img/shared/Icon.svg" alt="">
                {{isShowPhone ? 'Hide' : 'Показать номер телефона'}}
      
            </button>
            <div *ngIf="isShowPhone">
                {{ announcement?.phone ?? 'Нет названия'}}

            </div>
            <div class="location">
                <p class="infoTitle">
                    Адрес
                </p>
                <p class="text">
                    {{ announcement?.location ?? 'Нет adres'}}
                </p>
                <button class="openMap">
                    Показать на карте
                    <img src="../../../../../assets/img/shared/arrow-up-right-square.svg" alt="">
                </button>
    
            </div>
            <div class="description">
                <p class="infoTitle">
                    Описание
                </p>
                <p class="text">
                    {{ announcement?.description ?? 'Нет desc'}}
                </p>
            </div>
        </div>
    </div>

<ng-template #loading>Loading</ng-template>

